.screen-header__icon{
    display: flex;
    justify-content: space-between;
}

.screen-header__icon__bad{
    margin-top: 1rem;
    margin-left: 19rem;
}

.screen-header__icon__menu{
    margin-top: 1rem;
    margin-left: 23rem;
}

.screen-header__name {
    display: flex;
    align-items: center;
    margin-left: -79rem;
    width: 80%;
    font-size: 4rem;
}

.screen-header__name__deco {
    background-color: #35d897; 
    width: 17rem;
    height: 11rem;
    border-radius: 0 45px 45px 0;
}

.app-container__user{
    margin-left: 18rem;    
    padding-top: 4rem;    
    font-size: 2rem;
}

.app-container__profile{
    margin-left:64rem;
    height: 150px; 
    width: 120px;
}

.app-container__contents{
    margin-left: 20rem;
}

.app-container__contents__bt{
    margin-right: 16rem;
    width: 100px; 
    height: 100px;
}

.app-container__contents__info {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-left: 1rem;
  gap: 12rem;
  font-size: 1.1rem;
  font-weight: 500;
}

.rank-Info,
.my-Info,
.talk-Info {
  padding: 1rem 1.5rem;
  border-radius: 8px;
}

.app-container__rank{
    background-color: #f0f0f0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);    
    border-radius: 16px;    
    margin: 2rem auto;        
    margin-top: 2.5rem;    
    margin-left: 18rem;
    padding: 2rem;
    width: 60%;
}

.app-container__rank__info {
  text-align: left;  
  margin-bottom: 2rem;  
  font-size: 1.5rem;
  font-weight: bold;
}

.app-container__rank__list {
  background-color: #ffffff;  
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  margin-bottom: 1.2rem;  
  padding: 1rem 1.1rem;
  padding-left: 2.4rem; 
}

.app-container__rank__list > * {
  flex: 1;
  text-align: center;
  font-size: 1rem;
}

.app-container__rank__listImg {
  max-width: 40px;  
  width: 5%;
  height: auto;
}


.app-navigation {
    background-color: #35d897;
    display:flex;
    box-shadow: 0 5px 5px 0 rgb(229, 219, 219);    
    margin-top: 4rem;
    margin-left: 18rem;
    margin-right: 12rem;
    border: 1px solid rgba(101, 101, 101, 0.454);
    border-radius: 15px;    
}

.screen-navigation__comp {
    color:#1f1f1f;
    text-decoration: none;
    text-align: center;
    padding-top: 20px;
    width: 20%;
    height: 35px;
}
