.screen-header__icon{
    display: flex;
    justify-content: space-between;
}

.screen-header__icon__bad{
    margin-top: 1rem;
    margin-left: 18rem;
}

.screen-header__icon__menu{
    margin-top: 1rem;
    margin-left: 40rem;
}

.screen-header__name {
    display: flex;
    align-items: center;
    margin-top: 4.5rem;
    margin-left: -60rem;
    width: 80%;
    font-size: 4rem;
}

.screen-header__name__deco {
    background-color: #35d897; 
    width: 16rem;
    height: 8rem;
    border-radius: 0 45px 45px 0;
}

.talk-header__chatSearch__area {
    background-color: #fff9e6;                 
    border: 2px solid #35d897;
    border-radius: 12px;
    margin-top: 0rem;
    margin-left: 18rem;  
    padding: 8px 12px;  
    width: 20rem;   
    font-size: 16px;
}

.talk-container__profile{
    display:flex;
    gap: 600px;
    margin-left: 1rem;    
    padding-top: 0.2rem;    
    height: 150px; 
    width: 120px;
    font-size: 2rem;
}

.talk-container__profile__user{
    margin-left: 18rem;
}

.area-divide {
    margin-left: 18rem;
    margin-right: 18rem;
    height: 2px;
    background-color: #323131ff; 
}

.talk-container__chatlist {
    margin-left: 18rem;
    margin-right: 18rem;
    padding: 15px;
}

.talk-container__chatlist__img {
    width: 50px;
    height: 60px;
}

.talk-container__chatlist__text {
    display: flex;           
    margin-top: 8px;
    gap: 40px;
}

.lastChat-data__first,
.lastChat-data__second,
.lastChat-data__third, 
.lastChat-data__fourth,
.lastChat-data__fifth {
    padding-left: 100px;
}

.talk-container__chatlist__divide {
    border: none;
    border-bottom: 1px solid #ddd;
    margin: 8px 0;
    height: 1.8px;
    background-color: #323131ff;
}

.talk-navigation {
    background-color: #35d897;
    display:flex;
    box-shadow: 0 5px 5px 0 gray;    
    margin-top: 3.5rem;
    margin-left: 18rem;
    margin-right: 18rem;
    border: 1px solid rgba(101, 101, 101, 0.454);
    border-radius: 15px;    
}

.screen-navigation_comp {  
    color:#1f1f1f;
    text-decoration: none;
    text-align: center;
    padding-top: 20px;
    width: 20%;
    height: 35px;
}